.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-notification {
  width: 100%;
}
.home-component {
  text-decoration: none;
}
.home-hero {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  z-index: 20;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-image {
  width: var(--dl-size-size-xlarge);
  object-fit: cover;
}
.home-title {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 76px;
}
.home-hero-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  z-index: 15;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-i-o-s-btn {
  gap: var(--dl-space-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  text-decoration: none;
  background-color: #434343;
}
.home-i-o-s-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.home-caption {
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-stats {
  width: 100%;
  display: flex;
  z-index: 10;
  max-width: 1200px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
}
.home-stat {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home-caption1 {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-description {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
.home-stat1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-caption2 {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-description1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
.home-stat2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #DBDBDB;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.home-caption3 {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
.home-description2 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  font-family: Poppins;
  line-height: 27px;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-content {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-title {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
  .home-hero-buttons {
    width: 100%;
  }
  .home-i-o-s-btn {
    flex: 1;
  }
  .home-stats {
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-stat {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
    border-right-width: 0px;
  }
  .home-caption1 {
    text-align: center;
    line-height: 32px;
  }
  .home-text {
    text-align: center;
    line-height: 32px;
  }
  .home-stat1 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-caption2 {
    text-align: center;
    line-height: 32px;
  }
  .home-stat2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    border-left-width: 0px;
  }
  .home-caption3 {
    text-align: center;
    line-height: 32px;
  }
}
@media(max-width: 767px) {
  .home-title {
    font-size: 40px;
    line-height: 48px;
  }
  .home-caption1 {
    font-size: 32px;
  }
  .home-text {
    font-size: 32px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption2 {
    font-size: 32px;
  }
  .home-description1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption3 {
    font-size: 32px;
  }
  .home-description2 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .home-hero-buttons {
    width: 100%;
    flex-direction: column;
  }
  .home-i-o-s-btn {
    width: 100%;
  }
}
